
   <%- include('../Partials/head_files.ejs') %>

   <nav class="navbar navbar-expand-lg navbar-light LoaderNav">
    <a href="#" class="navbar-brand logo"><img src="images/new logo.svg"></a>
  </nav>
<body onload="move()" style="background-image:none !important;">
    <div class="container LoaderBody mt-5">
        <div class="row">
            <div class="col-md-12 text-center load-al">
                <h1 class="font-weight-bold">Almost Ready!</h1>
                <p>Your account is being created, get ready to become to a Funnel SHARK!</p>     
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
            </div>
        </div>
    </div>
<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width  + "%";
      }
    }
  }
}
</script>

</body>
</html>
<%- include('../Partials/footer.ejs') %>
